.unit-switcher-switch {
  display: inline-block;
  position: relative;
  z-index: 1; }
  .unit-switcher-switch a {
    border: 0 !important; }
  .unit-switcher-switch a:active, .unit-switcher-switch a:focus {
    outline: none; }
  .unit-switcher-switch ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    min-width: 150px; }
    .unit-switcher-switch ul li {
      border-top: 1px solid #e6e6e6; }
      .unit-switcher-switch ul li:first-child {
        border: 0; }
    .unit-switcher-switch ul li a {
      display: block;
      padding: 4px 15px; }
    .unit-switcher-switch ul.active {
      display: block; }
  .unit-switcher-switch.active ul {
    display: block; }
  .unit-switcher-switch.active .unit-switcher-caret {
    background: url('../images/caret-up.png') no-repeat; }

.unit-switcher-caret {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url('../images/caret.png') no-repeat;
  margin-left: 8px; }
  .unit-switcher-caret.open {
    background: url('../images/caret-up.png') no-repeat; }
